img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

body {
    background-color: rgb(26, 26, 26);
}

a {
    color: rgb(15, 12, 197);
    font-size: x-large;
}

.p {
    text-align: center;
    margin: 10px 500px 10px 500px;
    padding: 5ch;
    border-radius: 1000px;
    background-color: aqua;
    color: aqua;
    transition: width 2s, height 2s, transform 2s;

}

.p:hover {
    width: 100px;
    height: 100px;
    background-color: rgb(113, 168, 11);
    border-radius: 500px;
    
}
 
