* {
    font-family: cursive;
}

:hover{
    color: red;
}
#prod1 {
    font-size: 20px;
    color: #0b7e86;
    width: 120px;
    height: 30px;
    float: left;
    padding: 20px;
    padding-right: 76px;
    cursor: grab;

}

#prod2 {
    font-size: 20px;
    color: #0b7e86;
    width: 120px;
    height: 30px;
    float: left;
    padding: 20px;
    padding-right: 75px;
    cursor: grab;
}

#prod3 {
    font-size: 20px;
    color: #0b7e86;
    float: left;
    padding: 20px;
    padding-right:25px;
    cursor: grab;
}

img {
    height: 150px;
    width: 150px;
    color: #0b7e86;
    border-radius: 80px;
    cursor: grab;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #0b7e86;
    padding: 2%;
    border-radius: 40px;
    border-style: double;

}

body {
    background-color: rgb(12, 10, 10);


}

#ul1 {
    font-size: 20px;
    color: #0b7e86;
    cursor: grab;
}