h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(69, 69, 221);
}

ul{
    font-size: 30px;
    color: rgb(69, 69, 221);
}

#p1 {
    font-size: 30px;
    color: rgb(69, 69, 221);
}

body {
    background-color: black;
}
